<div>
  <h2>Course List</h2>
  <table>
    <thead>
    <tr id="table-cat">
      <th>ID</th>
      <th>Course Name</th>
      <th>Description</th>
      <th>Course Room Number</th>
      <th>Course Floor Number</th>
    </tr>
    </thead>
    <tbody>
    <tr class="item-list" *ngFor="let course of courseList"
        [routerLink]="['/courses', course.id]">
      <td>{{ course.id}}</td>
      <td>{{ course.name}}</td>
      <td>{{ course.description}}</td>
      <td>{{ course.roomNumber}}</td>
      <td>{{ course.floorNumber}}</td>
    </tr>
    </tbody>
  </table>
</div>
