<div>
  <h2>Course List</h2>
  <table>
    <thead>
    <tr id="table-cat">
      <th>ID</th>
      <th>Course Name</th>
      <th>Description</th>
      <th>Course Room Number</th>
      <th>Room Floor Number</th>
    </tr>
    </thead>
    <tbody>
      <tr class="item-list" *ngFor="let course of courseList" [appHoverHighlight]="''">
      <td id="courseId">{{ course.id}}</td>
      <td id="courseName" [routerLink]="['/courses', course.id]">{{ course.name |lowercase}}</td>
      <td id="courseDescription">{{ course.description | uppercase}}</td>
      <td id="roomNumber">{{ course.roomNumber | json}}</td>

      <td id="floorNumber">{{course.floorNumber | floorPipe}}</td>

      <td>
          <button id="edit_button" [routerLink]="['/modify-course', course.id]">Delete / Edit</button>
      </td>
<!--
Deleting and adding are only possible through the edit button, which also can delete items
-->
    </tr>
    </tbody>
  </table>
  <div>
    <p *ngIf="error" class="error">{{error}}</p>
  </div>
</div>
