<div *ngIf="course" class="courseItems">
  <figure>
  <img [ngSrc]="course.image"
       alt="courseIcon"
       height="100"
       width="100"/>
    <figcaption>
      <p>Image Description: {{course.imageDescription}}</p>
    </figcaption>
  </figure>
  <ul>Course ID: {{ course.id }}</ul>
  <ul>Course Name: {{ course.name }}</ul>
  <ul>Course Description: {{ course.description }}</ul>
  <ul>Course Floor Number: {{ course.floorNumber}}</ul>
  <ul>Course Room Number: {{ course.roomNumber }}</ul>
</div>
<div id="back_button">
  <a [routerLink]="['']">Go back</a>
</div>
